USE [master]
GO
/****** Object:  Database [BD]    Script Date: 25.04.2024 20:10:16 ******/
CREATE DATABASE [BD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\BD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS01\MSSQL\DATA\BD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BD]
GO
/****** Object:  Table [dbo].[ГеологическиеСтруктуры]    Script Date: 25.04.2024 20:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ГеологическиеСтруктуры](
	[ID_Структуры] [int] IDENTITY(1,1) NOT NULL,
	[Название] [varchar](50) NULL,
	[Описание] [text] NULL,
	[ID_Исследования] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Структуры] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ГеоэлектрическиеРазрезы]    Script Date: 25.04.2024 20:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ГеоэлектрическиеРазрезы](
	[ID_Разреза] [int] IDENTITY(1,1) NOT NULL,
	[ID_Объекта] [int] NULL,
	[Глубина] [varchar](100) NULL,
	[ЭлектрическоеСопротивление] [float] NULL,
	[Координата_X] [decimal](9, 6) NULL,
	[Координата_Y] [decimal](9, 6) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Разреза] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Измерения]    Script Date: 25.04.2024 20:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Измерения](
	[ID_Измерения] [int] IDENTITY(1,1) NOT NULL,
	[ID_Разреза] [int] NULL,
	[Напряжение] [float] NULL,
	[Дата] [date] NULL,
	[Время] [time](7) NULL,
	[ID_Объекта] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Измерения] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Исследования]    Script Date: 25.04.2024 20:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Исследования](
	[ID_Исследования] [int] IDENTITY(1,1) NOT NULL,
	[ID_Объекта] [int] NULL,
	[ID_Пользователя] [int] NULL,
	[Цель] [text] NULL,
	[Результат] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Исследования] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Место_исследования]    Script Date: 25.04.2024 20:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Место_исследования](
	[ID_Места] [int] IDENTITY(1,1) NOT NULL,
	[Название_местности] [varchar](100) NULL,
	[Координаты] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Места] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Оборудование]    Script Date: 25.04.2024 20:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Оборудование](
	[ID_Оборудования] [int] NOT NULL,
	[Наименование] [varchar](50) NULL,
	[Тип] [varchar](50) NULL,
	[Серийный_номер] [varchar](20) NULL,
	[ID_Исследования] [int] NULL,
	[ID_Объекта] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Оборудования] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ОбъектыИсследования]    Script Date: 25.04.2024 20:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ОбъектыИсследования](
	[ID_Объекта] [int] IDENTITY(1,1) NOT NULL,
	[Название] [varchar](100) NULL,
	[ТипОбъекта] [varchar](50) NULL,
	[Координаты] [varchar](100) NULL,
	[ID_Места] [int] NULL,
	[Площадь] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Объекта] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Отчеты]    Script Date: 25.04.2024 20:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Отчеты](
	[ID_Отчета] [int] IDENTITY(1,1) NOT NULL,
	[ID_Исследования] [int] NULL,
	[Содержание] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Отчета] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Пользователи]    Script Date: 25.04.2024 20:10:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Пользователи](
	[ID_Пользователя] [int] IDENTITY(1,1) NOT NULL,
	[Имя] [varchar](50) NULL,
	[Фамилия] [varchar](50) NULL,
	[Роль] [varchar](50) NULL,
	[Логин] [varchar](50) NULL,
	[Пароль] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_Пользователя] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ГеологическиеСтруктуры]  WITH CHECK ADD FOREIGN KEY([ID_Исследования])
REFERENCES [dbo].[Исследования] ([ID_Исследования])
GO
ALTER TABLE [dbo].[ГеоэлектрическиеРазрезы]  WITH CHECK ADD FOREIGN KEY([ID_Объекта])
REFERENCES [dbo].[ОбъектыИсследования] ([ID_Объекта])
GO
ALTER TABLE [dbo].[Измерения]  WITH CHECK ADD FOREIGN KEY([ID_Разреза])
REFERENCES [dbo].[ГеоэлектрическиеРазрезы] ([ID_Разреза])
GO
ALTER TABLE [dbo].[Исследования]  WITH CHECK ADD FOREIGN KEY([ID_Объекта])
REFERENCES [dbo].[ОбъектыИсследования] ([ID_Объекта])
GO
ALTER TABLE [dbo].[Исследования]  WITH CHECK ADD FOREIGN KEY([ID_Пользователя])
REFERENCES [dbo].[Пользователи] ([ID_Пользователя])
GO
ALTER TABLE [dbo].[Оборудование]  WITH CHECK ADD FOREIGN KEY([ID_Исследования])
REFERENCES [dbo].[Исследования] ([ID_Исследования])
GO
ALTER TABLE [dbo].[ОбъектыИсследования]  WITH CHECK ADD FOREIGN KEY([ID_Места])
REFERENCES [dbo].[Место_исследования] ([ID_Места])
GO
ALTER TABLE [dbo].[Отчеты]  WITH CHECK ADD FOREIGN KEY([ID_Исследования])
REFERENCES [dbo].[Исследования] ([ID_Исследования])
GO
USE [master]
GO
